comp -hvl questa
#rtlc -xrtl is default
#Delcare all XRTL modules to RTLS. These are the modules that will run on the emulator. 
rtlc -partition_module_rtl pwm_if
rtlc -partition_module_rtl drone_top_if
rtlc -partition_module_xrtl pwm_top_hdl
rtlc -partition_module_xrtl drone_top_hdl
comp -platform D1S
comp -num_boards 1 
